.search-card  {

    padding: 42px 20px ;
    background: #EDEDED;
    
}

.search-form {

    display: flex;
 align-items: center;
}

.form-control {
    height: 40px;
    color: #A7A7A7;
    font-size: 14px;
}

.search-form  .btn-catalog  {

margin-top:0px;

}


.search-form   button {
    background-color: #00285F;
    color: white;
}

.search-form   button:hover {
    background-color: #00285F;
    color: white;
}
