/* .btn {
    text-align: center;
} */




.btn-catalog {

    background: #00285F;
    width: 174px;
    height: 40px;
    border-radius: 5px;
    
    justify-content: center;
    margin-top: 28px;
    text-transform: uppercase;
    color: #fff;

    
}




h6 {
    margin-top: 9px;
    color: #585858;
    font-size: 16px;
}