.main-nav {
    min-height: 70px;
    padding: 0 40px;
}


.nav-logo-text {
    color: #00285F;
    font-weight: bold;
}

.nav-logo-text :hover {
    color: #00285F;
    font-weight: bold;
}


.main-menu {
    display: flex;
    font-size: 18px;
    width: 180px;
    justify-content: space-between;

}

.main-menu a {
    color: #00285F;
    font-size: 18px;
}

/*dar destaque no item menu*/
.main-menu a.active {
    color: #00285F;
    font-weight: bold;
}


.navbar-toggler {

    margin-top: 10px;
    color: #F78B00;

}

.navbar-toggler:hover {

    color: #F78B00;
}

.navbar-toggler-icon {
    color: #00285F;
}


@media (min-width: 320px) {
    .main-nav {
        min-height: 70px;
        padding: 0 8px; 
    }
    }

@media (min-width: 768px) {
.navbar-expand-md .navbar-collapse {
    
    justify-content: flex-end;
}
}

@media (min-width: 768px) {
    .main-nav {
        min-height: 70px;
        padding: 0 10px;
    }
    
    }



    @media (min-width: 1200px) {
        .main-nav {
            min-height: 70px;
            padding: 0 140px; 
        }
        }